.hclor
{
    color: blue;
}
ul li{
    height: 25px;
    width: 100px;
    margin: 10px;

    color: aquamarine;
    background-color: rgb(128, 6, 128);
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}